<!DOCTYPE html lang="fr">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        <title>{% block title %}JLD | {% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset("/css/main.css") }}">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body class="min-h-screen font-mono bg-purple-100 text-xl">

        <header class="w-full flex flex-col justify-between">

            <div class="bg-gradient-to-r from-green-200 to-blue-800 py-6 flex flex-row justify-around w-screen">
                <div class="inset-x-1/4">
                    <h1 class="text-5xl font-bold">Jérémy Lobry-Duval</h1>
                    <p class=""><span class="slide">Développeur Web</span></p>
                </div>
                <section>
                    <div class="photo">
                        <img class="relative top-32 rounded-full h-52" src="{{ asset("/images/img_profil.png") }}" alt="Jérémy Lobry-Duval">
                    </div>
                </section>
            </div>

            <nav class=" w-1/2 ">
                <ul class="w-100 flex flex-row justify-around">
                    <a href="{{ path("home") }}" class="little-jump font-bold text-center bg-gradient-to-r from-green-200 to-blue-200 w-1/3 rounded-b-3xl">
                        <li>
                            Home
                        </li>
                    </a>
                    <a href="{{ path("cv") }}" class="little-jump font-bold text-center bg-gradient-to-r from-green-200 to-blue-200 w-1/3 rounded-b-3xl">
                        <li>
                            CV
                        </li>
                    </a>
                    <a href="{{ path("qualites") }}" class="little-jump font-bold text-center bg-gradient-to-r from-green-200 to-blue-200 w-1/3 rounded-b-3xl">
                        <li>
                            Qualités
                        </li>
                    </a>
                    <a href="" class="little-jump font-bold text-center bg-gradient-to-r from-green-200 to-blue-200 w-1/3 rounded-b-3xl">
                        <li>
                            Contact
                        </li>      
                    </a>
                    
                </ul>
            </nav>

        </header>
        
        <main class="block mt-12">
           {% block body %}{% endblock %} 
        </main>

        <footer class="bg-green-200 my-6">
            <p class="text-center">&copy; Copyright <span>2021</span></p>
        </footer>

    </body>
    {% block script %}
    {#}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript">
        (function($) {
        $(".photo img").each(function(){
            var carte = $(this);
            var div = carte.parent();
            carte.clone().appendTo(div).wrap('<div class="bottom"/>')
            carte.wrap('<div class="top"/>')
        }) 
        })(jQuery);
    </script>
    #}
    {% endblock %}
</html>
